/*start main rules */
/* 552 lines */
body{

	background-color: #FFF;
/*	height: 4000px
*/}

.container {
	width:1170px;
	margin:auto

}
.clearfix{clear: both;}

.header .slider {
	background-image: url('../images/work4.jpg');
	-webkit-background-size: cover; /*css3*/
	-moz-background-size: cover; /*css3*/
	-o-background-size: cover; /*css3*/
	background-size: cover; /*css3*/
	background-color: #EEE;
	height: 600px

}

.header .slider .intro{ 
	padding-top: 300px;
	text-align: center;
	color: #000000;

}
.header .slider .intro h2{ 
	margin: 0 auto;
	padding-bottom: 10px;
	width: 600px;
	color: #FFF;
	font-size: 50px;
	border-top: 5px solid #FFF000;
	border-bottom: 5px solid #FFF000;
}

.header .slider .intro button{
	background: none;
	color: #FFF;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
	padding: 15px;
	border: 2px solid #FFF;
} 


/*start header*/

.header .navbar {
	background-color: #252f31;
	color: #FFF;
	overflow: hidden
}

.header .navbar h2{

	text-transform: uppercase

}
.header .navbar span{ color:#2ecc71 }


.header .navbar ul{

		list-style:none;
		padding-left: 0;
		overflow: hidden;/*  this to make links not go outside*/
		float: right
}
.header .navbar ul li {
	float: left;
	padding: 10px
}

.header .navbar ul li  a{
	color: #FFF;
	text-decoration: none;

}

.header .navbar ul li.active a,
.header .navbar ul li a:hover{
	color: #2ecc71;

}

/*End Header */



/*start fetures*/
.features {
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 50px
}

.features .feat {
	float: left;
	width: 33.33333%;
	height: 150px
}

.features .feat h2{
	color: #000000
}

.features .feat p{
	line-height: 1.7;
	color: #000000


}

/*End fearures*/

/*start About me*/
.about-me {
	background-color: #DDD;
	overflow: hidden;

}
.about-me .image {

	float: left;
	width: 40%
}
.about-me .image img { width: 100%}
.about-me .info {
	float: left;
	width: 60%
}
.about-me .info h2 {
	margin: 90px 0 20px 40px;
	color: #000000


}

.about-me .info > p {
	margin: 20px 0 10px 40px;


}
.about-me .info > p:last-of-type {
	
	margin-top: : 20px;
}

.about-me .info p {
	line-height : 1.6;
	color: #666;

}
.about-me .info .Hobbies {

	overflow: hidden;
	margin: 20px 0  0 40px
}

.about-me .info .Hobbies .contents {

	float: left;
	width: 50%;
	min-height: 100px;
	overflow: hidden
}

.about-me .info .Hobbies .contents h3{color: #555}

.about-me .info .Hobbies .contents .icon{
	float:left;
	width: 12%;
	margin-right: 5%
}
.about-me .info .Hobbies .contents .icon img{
	max-width: 100%;
	margin: 20px 10px 0 0

}

.about-me .info .Hobbies .contents .text{
	float:left;
	width: 83%
}
.about-me .info .Hobbies .contents .text p{margin-top: 0}
.about-me .info .Hobbies .contents .text h3{margin-bottom: 1px;color: #000000}

/*End about me*/




/*Start skills*/
.my-skills {
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 50px;
}
.my-skills .skills , .my-skills .progress {
	float: left;
	width: 50%

}

.my-skills .skills h2 {
	margin:  90px 0 20px 40px;
	color: #000000

}


.my-skills .skills > p:last-of-type {
	
	margin-top: : 20px;
}

.my-skills .skills p {
	line-height : 1.6;
	margin-top: 20px;
	margin-left: 40px;
	color: #666

}

.my-skills .skills button {
	margin-top: 20px;
	margin-left: 40px

}

.my-skills .progress .technique {
	margin-left: 50px
}
.my-skills .progress .technique h3{
	color: #555
}
.my-skills .progress .technique div{

	background-color: #F2F2F2;
	height: 25px;
	
}
.my-skills .progress .technique div span{
	background-color: #2DCC70;
	height: 25px;
	display: block;
	line-height: 25px;
	text-align: right
}
/*End skills*/



/*start resume*/
.resume {
	background-color:#DDD;
	padding-top: 50px;
	padding-bottom: 70px;
	text-align: center;
}
.resume h2 {

	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}
.resume p{
	line-height: 1.7;
	color: #666;
	padding: 0 40px
}

.resume button {
	margin-top: 25px
}


/*end resume*/





/*Start Education*/
.my-Education {
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}
.my-Education .main {
width: 50%;
float: left;
margin-right: 5%

}
.my-Education .exp {
	float: left;
	width: 45%;

}

.my-Education .main h2 {
	margin: 40px 0 20px 40px;
	color: #000

}


.my-Education .main p {
	line-height : 1.6;
	margin-top: 20px;
	margin-left: 40px;
	color: #666

}
.my-Education .main p:last-of-type {
	
	margin-top: : 20px;
}
.my-Education .exp h3 {
	margin-top: 80px;
	margin-bottom: 8px
}
.my-Education .exp span {
	display: block;
	margin-bottom: 8px
}
.my-Education .exp span:last-of-type{
	background-color: #2DCC70;
	display: inline-block;
	padding: 2px 10px 2px 10px;
}
.my-Education  hr {
	margin: 20px 0;
	background-color: #999;
	height: 1px;
	border: 0

}

.my-Education .exp p{
	line-height: 1.7;
	color: #777
}
/*End Education*/



/*start testmonials*/
.testmonials {
	background-color:#DDD;
	padding-top: 50px;
	padding-bottom: 70px;
	text-align: center;
}
.testmonials {

line-height: 1.7;
color: #666;
font:italic bold 18ps/1.8 Arial,Tahoma

}
.testmonials h3 {
		color: #000000
} 

.testmonials ul {
	list-style: none;
	padding-left: 0;
	text-align:center;
	margin-top:15px

}
.testmonials ul li{
	width: 15px;
	height: 15px;
	border: 2px solid #2DCC70;
	display: inline-block;
	cursor: pointer
}
.testmonials ul li.active ,
.testmonials ul li:hover {background-color: #2DCC70}

/*end testmonials*/



/*start portfolio*/
.portfolio {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center
}
.portfolio h2 {
	text-transform: uppercase;
	color: #000;
}

.portfolio p {
	text-transform: lowercase;
	color: #000;
}

.portfolio .our-work {
	overflow: hidden;
	align-items: center;
}

.portfolio .our-work > div{
	float: left;
	width: 33.33333%;
	margin-bottom: 10px;
}

.portfolio .our-work > div img{

	width: 92%;
	margin: 10px;
	padding: 1px;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-shadow: 10px 10px 12px #CCC


}
 
/*End portfolio*/


/*start contact me*/

.contact {
	background-color: #252F31;
	overflow: hidden;
	padding-top: 30px;
}
.contact .info {
	width: 50%;
	float: left;
	margin-right: 5%
}
.form {
	width: 45%;
	float: left;
}

.contact h2 {
	color: #FFF;
	margin-left: 40px;
} 

.contact p {
	color: #6A6E71;
	margin-left: 40px;
	line-height: 1.7
}
.contact p strong {
	color: #D1D6DA

}

.contact .form label{
	display: block;
	color: #D1D6DA;
	margin: 10px 0

}
.contact .form input[type="text"]{
	background-color: #4B5557;
	color: #FFF;
	padding: 10px;
	border: 0;
	width: 80%;
	margin-bottom: 10px

}
.contact .form textarea {
	background-color: #4B5557;
	color: #FFF;
	padding: 10px;
	border: 0;
	width: 80%;
	margin-bottom: 10px;
	height: 300px

}

.contact .form input[type="submit"] {
	background-color: #191E22; 
	color: #FFF;
	padding: 10px 20px;
	border: 0;
	margin-top: 10px;
	margin-bottom: 10px
}

/*End contact me*/



/*Start footer */

.footer {
	background-color: #191E22;
	color: #6A6E71;
	text-align: center;
	padding: 20px 0;
	overflow: hidden

}
.footer span {
	float: left;
}
.footer ul {
	list-style: none;
	padding-left: 0;
	margin : 0;
	float: right
}
.footer ul li {
	display: inline-block;
	padding: 5px
}
.footer ul li :hover {
	color: #fff000
}

/*End footer */


/*end css    


/*Framework*/

.my-button {

	background: none;
	border: 3px solid #2DCC70;
	padding:10px 30px;
	color: #2DCC70;
	font-weight: bold
}

.fe-left {float : left}

/*End framework*/